@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
  margin: 0;
  font-family: Lato,
    sans-serif;
}

html, body, .full, #root {
  width: 100%;
  height: 100%;
}

.flex-grid {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.col {
  background-color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  margin: 0px;
}

.main {
  flex: 3;
  background: white;
}