@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
  margin: 0;
  font-family: Lato,
    sans-serif;
}

html, body, .full, #root {
  width: 100%;
  height: 100%;
}

.flex-grid {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.col {
  background-color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  margin: 0px;
  padding: 0px;

  &--title {
    width: 100%;
    height: 13%;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(233, 233, 233, 0.3686274509803922);
    flex-grow: 0;
    line-height: 2.5;
  }

  &--content {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    height: 100%;

    &-inner-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}

.main {
  flex: 3;
  background: white;
}

.post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(233, 233, 233, 0.3686274509803922);
  padding: 5px;
  cursor: pointer;

  &--header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2% 0%;

    &-author {
      font-size: 1.1em;
      margin-right: 2%;
    }

    &-time {
      font-size: 0.9em;
      color: #dddddd;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2% 0%;

    &-title {
      padding: 3%;
      color: #dddddd;
    }
  }

  &--footer {
    display: block;
    margin: 2% 0%;

    &-dismiss {
      background: transparent;
      border-radius: 4px;
      border: 1px solid #ffa200;
      color: white;
      height: 25px;
      cursor: pointer;
    }

    &-comments {
      float: right;
      color: #ffa200;
      font-size: 0.9em;
      margin-right: 4%;
      line-height: 1.5;
    }
  }
}

.unread {
  border-radius: 8px;
  border: 1px solid #0094d7;
  width: 8px;
  height: 8px;
  display: block;
  background: #0094d7;
  margin-right: 2%;
}